@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'GmarketSansMedium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --primary-color: #ffde3c;
  --secondary-color: #fff9da;
  --purple-color: #821be3;
  --light-grey: #edf0f3;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.sep_typo {
  color: var(--purple-color);
}

.tag_button {
  height: 45px;
  min-width: 83px;
  font-size: 16px;
  font-family: 'GmarketSansMedium';
  color: #3a3a3a;
  width: max-content;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  background-color: white;
  padding: 12px 20px;
}

.active {
  color: #625d44;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1024px) {
  .tag_button {
    height: 80px;
    font-size: 24px;
    padding: 24px 48px;
  }
}

/* .text_body_title {
  font-size: 18px;
}

.text_body {
  font-family: 'Pretendard-Regular';
  box-shadow: 'none';
  font-weight: 500;
}

.MuiButton:hover {
  background-color: var(--light-grey);
}

.MuiButton:active {
  background-color: var(--primary-color);
}

@media (hover: hover) {
  .MuiButton:hover {
    background-color: var(--light-grey);
    box-shadow: 'none';
  }
} */
