.text_body_title {
  font-size: 18px;
}

.text_body {
  font-family: 'Pretendard-Regular';
  box-shadow: 'none';
  font-weight: 500;
}

.MuiButton:hover {
  background-color: var(--light-grey);
}

.MuiButton:active {
  background-color: var(--primary-color);
}

@media (hover: hover) {
  .MuiButton:hover {
    background-color: var(--light-grey);
    box-shadow: 'none';
  }
}
